
.icon-phone-circled:before { content: '\e800'; } /* '' */
.icon-torso:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-share:before { content: '\e803'; } /* '' */
.icon-volume-off:before { content: '\e804'; } /* '' */
.icon-mic:before { content: '\e805'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */
